/* Page de connexion */
#login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-container input {
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-container button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-container button:hover {
    background: #0056b3;
}

/* Page principale */
#map {
    height: 400px;
    width: 100%;
}

